language: python

python:
  - 2.7
  - pypy
  - 3.4
  - 3.5
  - 3.6
  - pypy3
matrix:
    include:
        - python: "3.7"
          dist: xenial
          sudo: true
        - python: "3.8-dev"
          dist: xenial
          sudo: true

install:
  - python setup.py install

script:
  - python setup.py -q test -q
